name: CI

on:
  - pull_request
  - push

jobs:
  analyse:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.0'
          coverage: none

      - name: Install dependencies
        run: composer update --no-progress

      - name: Analyse
        run: composer analyse

  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-latest, ubuntu-latest ]
        php-version: [ '7.4', '8.0' ]
        composer_flags: [ '' ]
        include:
          - os: ubuntu-latest
            php-version: '7.4'
            composer_flags: '--prefer-lowest'
          - os: ubuntu-latest
            php-version: '8.1'

    name: ${{ matrix.os }} / PHP ${{ matrix.php-version }} ${{ matrix.composer_flags }}

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          coverage: none

      - name: Get Composer data directory
        id: composer-data
        run: echo '::set-output name=dir::$(composer config data-dir)'

      - name: Cache Composer data
        uses: actions/cache@v1
        with:
          path: ${{ steps.composer-data.outputs.dir }}
          key: ${{ runner.os }}-composer-data-${{ hashFiles('**/composer.json') }}
          restore-keys: ${{ runner.os }}-composer-data-

      - name: Get Composer cache directory
        id: composer-cache
        run: echo '::set-output name=dir::$(composer config cache-files-dir)'

      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-cache-${{ hashFiles('**/composer.json') }}
          restore-keys: ${{ runner.os }}-composer-cache-

      - name: Install dependencies
        run: composer update --no-progress ${{ matrix.composer_flags }}

      - name: Test
        run: composer analyse
